<!DOCTYPE html>
<head>
<meta charset="utf-8">
<base href="/xsdb/">
<title>XsecDB Successful Insert/Update</title>
</head>
<style>
body{
background-color: #c0c0c0;
color: blue;
}
p{
color:#000000;
}
a:link{
color: blue;
background-color: transparent;
text-decoration: underline;
}
a:visited{
color: #0c5449;
background-color: transparent;
text-decoration: none;
}
a:hover{
color: #ffcc33;
background-color: transparent;
text-decoration: line-through;
}
a:active{
color: red;
background-color: transparent;
text-decoration: overline;
}

</style>
<body>
  <a href="">Home</a>
  <br>
  <a href="query">Query for data</a>
  <br>
  <a href="insert">Insert data</a>
  <br>
  <a href="update">Update a data entry</a>
  <br>
  <br>
  <p>Your entry was successfully added to the database! If you would like to continue using the DB Tool please click on one of the links above.</p>

</body>
</html>
